html, body, div#main, div#main div {
  height : 100%;
}
a {
  cursor : pointer;
}
div#main {
  position : relative;
  overflow : hidden;
  div {
    h1 {
      font-size : 40px;
    }
    h1, p, span {
      position : relative;
      top : 40%;
    }
    h1 > span {
      display : inline;
      font-size : inherit;
    }
    p {
      font-size : 24px;
      top : 45%;
    }
    span {
      display : block;
      font-size : 20px;
    }
    p, span {
      font-weight : lighter;
    }
    div.refresh {
      height : auto;
      position : absolute;
      top : 10px;
      right : 10px;
    }
  }

}