html,
body,
div#main,
div#main div {
  height: 100%;
}
a {
  cursor: pointer;
}
div#main {
  position: relative;
  overflow: hidden;
}
div#main div h1 {
  font-size: 40px;
}
div#main div h1,
div#main div p,
div#main div span {
  position: relative;
  top: 40%;
}
div#main div h1 > span {
  display: inline;
  font-size: inherit;
}
div#main div p {
  font-size: 24px;
  top: 45%;
}
div#main div span {
  display: block;
  font-size: 20px;
}
div#main div p,
div#main div span {
  font-weight: lighter;
}
div#main div div.refresh {
  height: auto;
  position: absolute;
  top: 10px;
  right: 10px;
}
